In [1]:
from google.colab import files
uploaded = files.upload()

Saving MWP Dataset(List of Num and words).csv to MWP Dataset(List of Num and words).csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('MWP Dataset(List of Num and words).csv')

In [4]:
df

      Unnamed: 0  ...                              Final extracted words
0              0  ...  ['There', 'are', 'constants', 'alpha', 'and', ...
1              1  ...  ['The', 'length', 'of', 'the', 'segment', 'bet...
2              2  ...  ['Chewbacca', 'has', 'pieces', 'of', 'cherry',...
3              3  ...  ['For', 'some', 'constants', 'a', 'and', 'b', ...
4              4  ...               ['Calculate', 'the', 'sum', 'cdots']
...          ...  ...                                                ...
1739        1739  ...  ['What', 'is', 'the', 'slope', 'of', 'the', 'l...
1740        1740  ...              ['Evaluate', 'i', 'i', 'i', 'i', 'i']
1741        1741  ...  ['If', 'a', 'is', 'a', 'constant', 'such', 'th...
1742        1742  ...  ['Given', 'a', 'star', 'b', 'a', 'ab', 'b', 'w...
1743        1743  ...  ['The', 'graph', 'of', 'the', 'function', 'f',...

[1744 rows x 8 columns]

In [15]:
import ast
final_extwords =[]

for i in range(len(df)):
  final_extwords.append(ast.literal_eval(df['Final extracted words'][i]))

In [27]:
len_words = []

for i in range(len(final_extwords)):
  len_words.append(len(final_extwords[i]))

In [30]:
df['Length_Words'] = len_words
df

      Unnamed: 0  ...  Length_Words
0              0  ...            22
1              1  ...            24
2              2  ...            77
3              3  ...            44
4              4  ...             4
...          ...  ...           ...
1739        1739  ...            10
1740        1740  ...             6
1741        1741  ...            20
1742        1742  ...            19
1743        1743  ...           137

[1744 rows x 9 columns]

In [31]:
import ast
final_extnum =[]

for i in range(len(df)):
  final_extnum.append(ast.literal_eval(df['Extracted New Num'][i]))

In [33]:
len(final_extnum[0])

6

In [34]:
final_extnum[0]

[2, 80, 1551, 2, 57, 2970]

In [35]:
len_num = []

for i in range(len(final_extnum)):
  len_num.append(len(final_extnum[i]))

In [36]:
df["Length_num"] = len_num

In [37]:
df

      Unnamed: 0  Unnamed: 0.1  ... Length_Words Length_num
0              0             0  ...           22          6
1              1             1  ...           24          6
2              2             2  ...           77          3
3              3             3  ...           44          4
4              4             4  ...            4          5
...          ...           ...  ...          ...        ...
1739        1739          1739  ...           10          4
1740        1740          1740  ...            6          5
1741        1741          1741  ...           20          3
1742        1742          1742  ...           19          5
1743        1743          1743  ...          137         99

[1744 rows x 10 columns]

In [45]:
def count_t(l):

  count = 0

  for i in range(len(l)):
    if(l[i]>=100):
      count+=1

  return count

In [46]:
value_hund = []

for i in range(len(final_extnum)):
  count = count_t(final_extnum[i])
  value_hund.append(count)

In [48]:
import collections
from collections import Counter
print(Counter(value_hund))

Counter({0: 1459, 1: 211, 2: 48, 3: 7, 4: 6, 5: 6, 6: 3, 8: 2, 7: 1, 11: 1})

In [49]:
df['Numbers>100'] = value_hund
df

      Unnamed: 0  Unnamed: 0.1  ... Length_num Numbers>100
0              0             0  ...          6           2
1              1             1  ...          6           0
2              2             2  ...          3           0
3              3             3  ...          4           0
4              4             4  ...          5           0
...          ...           ...  ...        ...         ...
1739        1739          1739  ...          4           0
1740        1740          1740  ...          5           0
1741        1741          1741  ...          3           0
1742        1742          1742  ...          5           0
1743        1743          1743  ...         99           0

[1744 rows x 11 columns]

In [50]:
from google.colab import files

df.to_csv('MWP New.csv')
files.download('MWP New.csv')